p {
    margin: 0;
    font-family: 'Vazirmatn', sans-serif;
}

button {
    font-family: 'Vazirmatn', sans-serif;
}

a {
    font-family: 'Vazirmatn', sans-serif;
}

input {
    font-family: 'Vazirmatn', sans-serif;
}

div {
    font-family: 'Vazirmatn', sans-serif;
}

option {
    font-family: 'Vazirmatn', sans-serif;
}

body {
    margin: 0;
}